@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  box-sizing: border-box;
}

p {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 36px;
  padding: 20px 20px 20px 0;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 41px;
  font-weight: 300;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 900;
  margin-top: 20px;
  letter-spacing: 2px;
}

ul li {
  font-family: "Open Sans", sans-serif;
}

@media (max-width: 525px) {
  h2 {
    font-weight: 300;
    font-size: 26px;
    padding: 20px 20px 20px 0;
    text-align: center;
  }

  p {
    font-size: 16px;
    text-align: center;
  }

  h1 {
    font-size: 31px;
  }
}
.header {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  width: 100%;
  padding-top: 20px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__logo-name {
  color: #08A6E4;
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  font-weight: 300;
  margin-left: 60px;
}

.menu__list-item {
  display: flex;
  flex-direction: row;
}

.menu__item {
  text-align: center;
  position: relative;
  list-style: none;
  width: 100px;
  padding: 10px;
}

.menu__link {
  color: #A5A5A5;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}
.menu__link::after {
  content: "";
  position: absolute;
  top: 35px;
  left: 30px;
  width: 0px;
  height: 3px;
  background-color: #08A6E4;
  transition: width 0.2s;
  opacity: 0;
}
.menu__link:hover::after {
  opacity: 1;
  width: 60px;
}

.menu__list-burger {
  color: #08A6E4;
  margin-right: 20px;
  transition: all 5s ease;
  display: none;
}
.menu__list-burger .fa, .menu__list-burger .far, .menu__list-burger .fas {
  font-family: "Font Awesome 5 Free";
  font-size: 30px;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}
.banner__p {
  padding: 25px 0 35px 0;
}

.banner__background {
  width: 100%;
  height: auto;
}

.banner__button-open {
  display: inline-block;
  width: 440px;
  height: 80px;
  background-color: #08A6E4;
  border-radius: 40px;
  border: 0;
  color: white;
  box-shadow: 1px 1px 1px #08A6E4;
  font-size: 18px;
  transition: all 0.2s ease-out;
}
.banner__button-open:hover {
  box-shadow: 2px 2px 5px #08A6E4;
}
.banner__button-open:focus {
  outline: 0 solid transparent;
}

@media (max-width: 820px) {
  .menu__list-burger {
    display: flex;
  }

  .menu__list-item {
    position: fixed;
    top: -290px;
    background: white;
    border-bottom: 1px solid grey;
    flex-direction: column;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
    padding: 0px;
    margin-top: 100px;
  }

  .menu__list-item.show {
    top: 0;
  }
  .menu__list-item.show .header {
    margin-top: 300px;
  }
}
@media (max-width: 525px) {
  .banner__button-open {
    width: 305px;
  }

  .banner__background {
    display: none;
  }
}
.popular {
  padding: 0;
}
.popular__h2 {
  text-align: center;
}
.popular__p {
  color: grey;
  text-align: center;
  font-size: 17px;
}

.popular__boxes {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-wrap: wrap;
  font-family: "Raleway", sans-serif;
}

.popular__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin: 30px 60px 30px 60px;
}

.popular__image--cat {
  width: 52px;
}
.popular__image--eye {
  width: 65px;
  margin-top: 8px;
}
.popular__image--person {
  width: 44px;
}

.popular__dot {
  position: absolute;
  border-radius: 100%;
  width: 63px;
  height: 63px;
  display: flex;
  justify-content: center;
  align-self: center;
  top: -5px;
  z-index: -1;
}
.popular__dot--person {
  background-color: #FB3B64;
  left: -5px;
}
.popular__dot--eye {
  background-color: #08A6E4;
  left: 45px;
}
.popular__dot--cat {
  background-color: #55DFB4;
  left: 5px;
}

@media (max-width: 525px) {
  .popular__dot--cat {
    left: 30px;
  }

  .popular__dot--eye {
    left: 60px;
  }

  .popular__dot--person {
    left: 15px;
  }
}
.article {
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: #F7F7F7;
}
.article__h2 {
  text-align: left;
}

.article__first, .article__second {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 900px;
  margin: 30px;
  padding: 70px 70px 10px 50px;
}

.article__third {
  border: 1px solid #F7F7F7;
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 510px;
  margin-top: 30px;
  margin-right: 15px;
  padding: 40px;
}

.article__text {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  padding-right: 20px;
}

.article__image--macbook {
  z-index: 1;
  position: relative;
}
.article__image--macbookimg_mac {
  width: 387px;
}
.article__image--iphone {
  z-index: 1;
  position: relative;
}
.article__image--img_true {
  width: 295px;
}

.article__image--speaker {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 60px 30px 30px 30px;
  width: 370px;
  background-color: #55DFB4;
  border-radius: 4px;
  border: 1px solid #F7F7F7;
  margin-top: 30px;
}

.article__line--pink {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 30px;
  width: 350px;
  height: 4px;
  background-color: #FB3B64;
}
.article__line--blue {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 30px;
  width: 350px;
  height: 4px;
  background-color: #08A6E4;
}
.article__line--green {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 30px;
  width: 350px;
  height: 4px;
  background-color: #55DFB4;
}

.article__shape--square {
  display: flex;
  justify-content: center;
  align-self: center;
  position: absolute;
  background-color: #FB3B64;
  border-radius: 30px;
  transform: rotate(45deg);
  width: 180px;
  height: 180px;
  top: -35px;
  right: -35px;
  z-index: -1;
}
.article__shape--circle {
  display: flex;
  justify-content: center;
  align-self: center;
  position: absolute;
  background-color: #08A6E4;
  border-radius: 50%;
  width: 320px;
  height: 320px;
  top: -20px;
  left: -35px;
  z-index: -1;
}

@media (max-width: 820px) {
  .article__first {
    flex-wrap: wrap-reverse;
  }

  .article__second {
    flex-wrap: wrap;
  }

  .article {
    flex-wrap: wrap-reverse;
  }
}
@media (max-width: 525px) {
  .article__h2 {
    text-align: center;
  }

  .article__image {
    margin-top: 1em;
    display: flex;
    justify-content: center;
  }

  .article__text {
    padding-right: 0;
  }

  .article__first, .article__second {
    justify-content: center;
    margin: 1em;
    padding: 1em;
  }

  .article__third {
    margin: 1em;
  }

  .article__shape--square {
    top: 0;
    right: 0;
  }

  .article__shape--circle {
    top: 0;
    left: 0;
  }
}
.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}
.pricing__h2 {
  text-align: center;
}

.pricing__threeBox {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.pricing__firstBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  width: 250px;
  margin: 30px;
  height: 480px;
  border: 1px solid #FB3B64;
}

.pricing__thirdBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  width: 250px;
  margin: 30px;
  height: 480px;
  border: 1px solid #55DFB4;
}

.pricing__secondBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  width: 250px;
  height: 520px;
  border: 1px solid #08A6E4;
}

.pricing__title {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}

.pricing__dolar {
  font-size: 46px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 30px;
}
.pricing__dolar--pink {
  color: #FB3B64;
}
.pricing__dolar--blue {
  color: #08A6E4;
}
.pricing__dolar--green {
  color: #55DFB4;
}

.pricing__item--ok {
  list-style-type: none;
  margin: 20px 20px 20px 20px;
}
.pricing__item--ok::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  padding-right: 5px;
  font-size: 14px;
  color: #55DFB4;
}

.pricing__item--no {
  list-style-type: none;
  margin: 20px 20px 20px 20px;
}
.pricing__item--no::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  padding-right: 5px;
  font-size: 14px;
  color: #FB3B64;
}

.pricing__button {
  text-align: center;
  display: inline-block;
  width: 150px;
  border-radius: 40px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  margin-top: 21px;
  padding: 15px 0 18px 0;
  z-index: 1;
  font-family: "Raleway", sans-serif;
}
.pricing__button--basis {
  background-color: #FB3B64;
}
.pricing__button--professional {
  margin-top: 61px;
  background-color: #08A6E4;
}
.pricing__button--premium {
  background-color: #55DFB4;
}

@media (max-width: 820px) {
  .pricing__threeBox {
    flex-direction: column;
  }

  .pricing__firstBox, .pricing__secondBox, .pricing__thirdBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    width: 500px;
  }
}
@media (max-width: 525px) {
  .pricing__firstBox, .pricing__secondBox, .pricing__thirdBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    width: 250px;
  }
}
.contact {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-bottom: 60px;
  margin-top: 60px;
  flex-direction: row;
  flex-wrap: wrap;
}
.contact__h2 {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 0;
}
.contact__p {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.contact__text {
  position: relative;
  flex-direction: column;
  margin-right: 90px;
  font-family: "Open Sans", sans-serif;
}

.contact__form {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin-right: 70px;
}

.contact__form-label {
  color: #08A6E4;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}

.contact__form-input {
  border-bottom: 1px solid #08A6E4;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  width: 300px;
  height: 40px;
  margin-bottom: 30px;
}
.contact__form-input:focus {
  outline: 0;
}

.contact__tel {
  margin-left: 70px;
}
.contact__tel:before {
  position: absolute;
  content: url("../../images/phone_icon.svg");
  top: 187px;
  left: 210px;
  width: 20px;
  height: 20px;
}

.contact__mail {
  margin-left: 30px;
}
.contact__mail:before {
  position: absolute;
  content: url("../../images/mail_icon.svg");
  top: 187px;
  left: 0;
  width: 20px;
  height: 20px;
}

.contact__checkbox {
  margin: 0.5rem 1rem 0.5rem 1rem;
}
.contact__checkbox-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.contact__checkbox-label {
  position: relative;
  display: flex;
}

.contact__checkbox-input:checked + .contact__checkbox-span {
  background-color: #08A6E4;
}

.contact__checkbox-span {
  position: absolute;
  top: 0;
  left: 0;
  margin: 5px;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #bcbcbc;
}

.checkbox__p {
  padding-left: 2rem;
  text-align: left;
  font-size: 12px;
  color: #A5A5A5;
}

@media (max-width: 525px) {
  .contact__text {
    margin-right: 0;
  }

  .contact__form {
    margin-right: 0;
  }

  .contact__tel:before, .contact__mail:before {
    top: 177px;
  }
}
@media (min-width: 800px) {
  .contact__checkbox {
    width: 800px;
  }
}
/*# sourceMappingURL=main.css.map */
