$blueColor: #08A6E4;
$grayColor: #A5A5A5;
$pinkColor: #FB3B64;
$greenColor: #55DFB4;

$fontRaleway: 'Raleway', sans-serif;
$fontOpensans: 'Open Sans', sans-serif;

@mixin mostpopular-icon-dots() {

  position: absolute;
  border-radius: 100%;
  width: 63px;
  height: 63px;
  display: flex;
  justify-content: center;
  align-self: center;
  top: -5px;
  z-index: -1;

}


.icon-per-dot {
  @include mostpopular-icon-dots();
  background-color: $pinkColor;
  left: -5px;
}

.icon-eye-dot {
  @include mostpopular-icon-dots();
  background-color: $blueColor;
  left: 45px;
}

.icon-cat-dot {
  @include mostpopular-icon-dots();
  background-color: $greenColor;
  left: 5px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


img {
  width: 100%;
  height: auto;
}

.cointainer {
  margin: 0 auto;
  width: 1352px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  span.logo {
    color: $blueColor;
    font-family: $fontRaleway;
    font-size: 32px;
    font-weight: 300;
    margin-left: 60px;
  }

  .fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
    font-size: 30px;
  }

  ul {
    display: flex;
    flex-direction: row;
  }

  li {
    text-align: center;
    position: relative;
    list-style: none;
    width: 100px;
    padding: 10px;


    a {
      color: $grayColor;
      font-family: $fontOpensans;
      text-decoration: none;
      font-size: 11px;

    }

    &:hover::after {
      content: "";
      position: absolute;
      top: 35px;
      left: 20px;
      width: 60px;
      height: 3px;
      background-color: $blueColor;

    }

  }
}

.page-nav-burger {
  color: #08A6E4;
  margin-right: 20px;
  display: none;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;

  h1 {
    font-size: 41px;
    font-weight: 300;
    font-family: $fontRaleway;
  }


  p {
    font-size: 16px;
    font-family: $fontOpensans;
    padding: 25px 0 35px 0;
  }

  button {
    display: inline-block;
    width: 440px;
    height: 80px;
    background-color: $blueColor;
    border-radius: 40px;
    border: 0;
    color: white;
    box-shadow: 5px 10px 14px, $blueColor;

    .button_open {
      font-size: 17px;
    }

  }

}


.mostpopular {
  padding: 0;

  h2 {
    text-align: center;
    font-family: $fontRaleway;
    font-weight: 300;
    font-size: 36px;
    padding: 20px 20px 20px 0;
  }


}

.mostpopular-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: $fontRaleway;

  p {
    color: grey;
    text-align: center;
    font-size: 17px;

  }

  h3 {
    font-size: 20px;
    font-weight: 900;
    margin-top: 20px;
    letter-spacing: 2px;
  }

}

.mostpopular-box-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 30px 60px 30px 60px;

  .cat {
    width: 52px;
  }

  .eye {
    width: 65px;
    margin-top: 8px;
  }

  .per {
    width: 44px;
  }


}


.squer {
  position: absolute;
  background-color: $pinkColor;
  border-radius: 30px;
  transform: rotate(45deg);
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-self: center;
  top: -35px;
  right: -35px;
  z-index: -1;
}

.circle {
  position: absolute;
  background-color: $blueColor;
  border-radius: 50%;
  width: 320px;
  height: 320px;
  display: flex;
  justify-content: center;
  align-self: center;
  top: -20px;
  left: -35px;
  z-index: -1;
}

.macimg {
  width: 387px;
}

.iphoneimg {
  width: 426px;
}

.truimg {
  width: 295px;
}

article, .third {
  display: flex;
  justify-content: center;
  background-color: #F7F7F7;
}

.box-art-picture {
  display: flex;
  justify-content: center;

  .box-art-picture-mac {
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: center;
    width: 300px;
  }

  .box-art-picture-iphone {
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: center;
    width: 350px;
  }

}

.box-art-picture-speaker {
  display: flex;
  justify-content: center;
  padding: 60px 30px 30px 30px;
  width: 370px;
  background-color: #55DFB4;
  border-radius: 4px;
  border: 1px solid #F7F7F7;
  margin-top: 30px;
}

.art-first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  padding-right: 20px;

  h2 {
    text-align: left;
    font-family: $fontRaleway;
    font-weight: 300;
    font-size: 36px;
    padding: 20px 20px 20px 0;
  }

  p {
    font-size: 16px;
    font-family: $fontOpensans;
  }
}

.box-art, .box-art-second {
  border: 1px solid #F7F7F7;
  border-radius: 4px;
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 900px;
  margin: 30px;
  padding: 70px 70px 10px 50px;

}


@mixin box-line() {
  margin-top: 30px;
  width: 350px;
  height: 4px;

}

.box-line-pink {
  @include box-line;
  background-color: $pinkColor;
}

.box-line-blue {
  @include box-line;
  background-color: $blueColor;
}

.box-line-green {
  @include box-line;
  background-color: $greenColor;
}

.box-art-third {

  border: 1px solid #F7F7F7;
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 510px;
  margin-top: 30px;
  margin-right: 15px;
  padding: 40px;
}

h2 {
  text-align: center;
  font-family: $fontRaleway;
  font-weight: 300;
  font-size: 36px;
  padding: 20px 20px 20px 0;
}

.pricing {
  display: flex;
  flex-direction: row;
}

.pricing-first {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  margin: 30px;
  height: 480px;
  border: 1px solid $pinkColor;
  border-radius: 5px;
}

.pricing-second {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 520px;
  border: 1px solid $blueColor;
  border-radius: 5px;
}

.pricing-third {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  margin: 30px;
  height: 480px;
  border: 1px solid #55DFB4;
  border-radius: 5px;
}

.pricing-pack {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
  font-family: $fontRaleway;
}

.dolar {
  font-size: 46px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 30px;
}

.dolar-pink {
  @extend .dolar;
  color: $pinkColor;
}

.dolar-blue {
  @extend .dolar;
  color: $blueColor;
}

.dolar-green {
  @extend .dolar;
  color: $greenColor;
}


.no li::before {
  content: "\f14a";
  font-family: 'Font Awesome 5 Free';
  padding-right: 5px;
  font-size: 14px;
  color: $pinkColor;
}

.ok li::before {
  content: "\f14a";
  font-family: 'Font Awesome 5 Free';
  padding-right: 5px;
  font-size: 14px;
  color: $greenColor;
}

.ok {
  li {
    list-style-type: none;
    margin: 20px 20px 20px 20px;
  }
}

.no {
  li {
    list-style-type: none;
    margin: 20px 20px 20px 20px;
  }
}

ul li {
  font-family: 'Open Sans', sans-serif;
}

.button_basis {
  text-align: center;
  display: inline-block;
  width: 150px;
  height: 50px;
  background-color: #EB476E;
  border-radius: 40px;
  padding: 18px;
  color: white;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin-top: 21px;
  padding: 15px 0 18px 0px;
  z-index: 1;
}

.button_professional {
  text-align: center;
  display: inline-block;
  width: 150px;
  height: 50px;
  background-color: #07ACE6;
  border-radius: 40px;
  padding: 18px;
  color: white;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  padding: 15px 0 18px 0px;
  margin-top: 60px;
  z-index: 1;
}

.button_premium {
  text-align: center;
  display: inline-block;
  width: 150px;
  height: 50px;
  background-color: #55DFB4;
  border-radius: 40px;
  color: white;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  padding: 15px 0 18px 0px;
  margin-top: 20px;
  z-index: 1;
}


.contact {
  margin-bottom: 60px;
  margin-top: 60px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .contact-text {
    position: relative;
    flex-direction: column;
    margin-right: 50px;

    h1 {
      font-family: $fontRaleway;
      font-weight: 300;
      margin-top: 30px;
      margin-bottom: 30px;
      margin-left: -20px;
      font-size: 49px;
      padding: 20px;
    }

    p {
      font-family: $fontRaleway;
      font-weight: 300;
      font-size: 16px;
      margin-top: 10px;
      margin-bottom: 30px;

    }

  }
}


.contact-text span {
  color: grey;
  font-family: 'Open Sans', sans-serif;

}

.contact-form {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin-right: 70px;
}

input {
  border-bottom: 1px solid blue;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  width: 300px;
  height: 40px;
  margin-bottom: 30px;
}

.contact-mail:before {
  position: absolute;
  content: "";
  top: 207px;
  left: 0;
  background-image: url("../images/Mail Icon.svg");
  background-size: cover;
  width: 20px;
  height: 20px;
}


.contact-tel:before {
  position: absolute;
  content: "";
  top: 207px;
  left: 210px;
  background-image: url("../images/Phone Icon.svg");
  background-size: cover;
  width: 20px;
  height: 20px;
}

.contact-tel {
  margin-left: 70px;
}

.contact-mail {
  margin-left: 30px;
}

label {

  color: blue;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;

}


@media (max-width: 1352px) {

  .cointainer {
    margin: 0 auto;
    width: 100%;
    padding-top: 10px;
  }
}


@media (max-width: 820px) {

  .pricing-first {
    width: 200px;
  }

  .pricing-second {
    width: 200px;
  }

  .pricing-third {
    width: 200px;
  }

  .pricing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .page-header {
    flex-direction: row;
  }
  .page-logo {
    margin-top: 0;
  }
  .page-nav-burger {
    display: flex;
  }
  .page-nav-list {
    position: fixed;
    top: -290px;
    left: 0px;
    background: white;
    border-bottom: 1px solid grey;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 0px;
    margin-top: 100px;
  }
  .page-nav-list.show {
    top: 0;

    .cointainer {
      margin-top: 300px;
    }
  }

  .box-art {
    border: 1px solid #F7F7F7;
    border-radius: 4px;
    background-color: white;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    width: 900px;
    margin: 30px;
  }

  .box-art-second {
    flex-direction: column;
  }

  .box-art-third, .box-art-picture-speaker {
    width: 92%;
    margin: 0;

  }

  .third {
    flex-direction: column;
    align-items: center;

  }

  .box-line-blue, .box-line-green, .box-line-pink {
    display: none;
  }

}

@media (max-width: 720px) {

  .pricing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .pricing-first {
    width: 400px;
    margin: 20px 130px 40px 130px;
  }

  .pricing-second {
    width: 400px;
    margin: 20px 130px 40px 130px;
  }

  .pricing-third {
    width: 400px;
    margin: 20px 130px 40px 130px;
  }


  @media (max-width: 420px) {

  }
    .contact .contact-text {
      position: relative;
      flex-direction: column;
      margin-right: 0;
    }


  }









