
.contact {
  @include flex();
  margin-bottom: 60px;
  margin-top: 60px;
  flex-direction: row;
  flex-wrap: wrap;

  &__h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 0;
  }

  &__p {
    font-family: $fontRaleway;
    font-weight: 300;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 30px;

  }
}


.contact__text {
  position: relative;
  flex-direction: column;
  margin-right: 90px;
  font-family: $fontOpensans;
}


.contact__form {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin-right: 70px;
}

.contact__form-label {
  color: $blueColor;
  font-family: $fontOpensans;
  font-size: 12px;
}

.contact__form-input {
  border-bottom: 1px solid $blueColor;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  width: 300px;
  height: 40px;
  margin-bottom: 30px;

  &:focus {
    outline: 0;
  }
}


.contact__tel {
  margin-left: 70px;

  &:before {
    position: absolute;
    content: url("../images/phone_icon.svg");
    top: 187px;
    left: 210px;
    width: 20px;
    height: 20px;
  }

}

.contact__mail {
  margin-left: 30px;

  &:before {
    position: absolute;
    content: url("../images/mail_icon.svg");
    top: 187px;
    left: 0;
    width: 20px;
    height: 20px;
  }

}

.contact__checkbox {
margin:0 auto;

  &-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  &-label {
    position: relative;
    display: flex;
  }
}


.contact__checkbox-input:checked + .contact__checkbox-span {
  background-color: $blueColor;
}

.contact__checkbox-span {
  position: absolute;
  top: 0;
  left: 0;
  margin: 5px;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #bcbcbc;
}

.checkbox__p {
  padding-left: 2rem;
  text-align: left;
  font-size: 12px;
  color: #A5A5A5;
}



@media (max-width: 525px) {

  .contact__text {
    margin-right: 0;
  }
  .contact__form {
    margin-right: 0;
  }

  .contact__tel:before, .contact__mail:before {
      top: 177px;
    }
}
@media (min-width: 800px) {
  .contact__checkbox {
    width: 800px;
  }
  }