
.header {
  @include flex();
  flex-direction: column;
  width: 100%;
  padding-top: 20px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__logo-name {
  color: $blueColor;
  font-family: $fontRaleway;
  font-size: 32px;
  font-weight: 300;
  margin-left: 60px;
  z-index: 1;
}

.menu__list-item {
  display: flex;
  flex-direction: row;
  transition: all .2s ease;
}

.menu__item {
  text-align: center;
  position: relative;
  list-style: none;
  width: 100px;
  padding: 10px;
}

.menu__link {
  color: $grayColor;
  font-family: $fontOpensans;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;


  &::after {
    content: "";
    position: absolute;
    top: 35px;
    left: 30px;
    width: 0px;
    height: 3px;
    background-color: $blueColor;
    transition: width 0.2s;
    opacity: 0;
  }

  &:hover::after {
    opacity: 1;
    width: 60px;
  }
}


.menu__list-burger {
  position: fixed;
  top: 0;
  right: 0;
  margin: 15px;
  width: 50px;
  height: 35px;
  background-color: white;
  display: none;

  & span {
    position: absolute;
    width: 100%;
    height: 6px;
    background-color: $blueColor;
    left:0 ;
    border-radius: 3px;
    transition: all .2s ease;
  }

  & span:nth-child(1) {
    top: 0;
  }

  & span:nth-child(2) {
    top: calc(50% - 3px);
  }

  & span:nth-child(3) {
    bottom: 0;
  }
}


.menu__list-burger.active {

  & span:nth-child(1) {
    transform: rotate(45deg);
    top: calc(50% - 3px);
  }

  & span:nth-child(2) {
    opacity: 0;
  }

  & span:nth-child(3) {
    transform: rotate(-45deg);
    bottom: calc(50% - 3px);
  }
}

.menu__list-burger.active {
  transform: rotate(90deg);
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;


  &__p {
    padding: 25px 0 35px 0;
  }

}

.banner__background {
  width: 100%;
  height: auto;
}

.banner__button-open {
  display: inline-block;
  width: 440px;
  height: 80px;
  background-color: $blueColor;
  border-radius: 40px;
  border: 0;
  color: white;
  box-shadow: 1px 1px 1px $blueColor;
  font-size: 18px;
  transition: all 0.2s ease-out;

  &:hover {
    box-shadow: 2px 2px 5px $blueColor;
  }

  &:focus {
    outline: 0 solid transparent;
  }

}

@media (max-width: 820px) {

  .menu__list-burger {
    display: flex;
  }

  .menu__list-item {
    position: fixed;
    top: -290px;
    background: white;
    flex-direction: column;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
    padding: 0;
    margin-top: 100px;
  }
  .menu__list-item.show {
    top: 0;
    box-shadow: 0 2px 2px rgba(8, 166, 228, 0.3);

    .header {
      margin-top: 300px;
    }
  }
}

@media (max-width: 525px) {

  .banner__button-open {
    width: 305px;
  }
  .banner__background {
    display: none;
  }
}