@mixin mostpopular-icon-dots() {
  position: absolute;
  border-radius: 100%;
  width: 63px;
  height: 63px;
  display: flex;
  justify-content: center;
  align-self: center;
  top: -5px;
  z-index: -1;
}

@mixin box-line() {
  margin-top: 30px;
  width: 350px;
  height: 4px;

}

@mixin pricing__Boxes($width) {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  width: $width;
}


@mixin flex() {
  display: flex;
  justify-content: center;
  align-self: center;
}